body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.75rem;
}
.display-2 {
  font-family: 'Catamaran', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.32rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.78rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0206b7 !important;
}
.bg-success {
  background-color: #9900ff !important;
}
.bg-info {
  background-color: #0036fc !important;
}
.bg-warning {
  background-color: #daddf4 !important;
}
.bg-danger {
  background-color: #bbe6e2 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0206b7 !important;
  border-color: #0206b7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #010361 !important;
  border-color: #010361 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #010361 !important;
  border-color: #010361 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #00c4cc !important;
  border-color: #00c4cc !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #007175 !important;
  border-color: #007175 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #007175 !important;
  border-color: #007175 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0036fc !important;
  border-color: #0036fc !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0023a5 !important;
  border-color: #0023a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0023a5 !important;
  border-color: #0023a5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #9900ff !important;
  border-color: #9900ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #6500a8 !important;
  border-color: #6500a8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6500a8 !important;
  border-color: #6500a8 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #daddf4 !important;
  border-color: #daddf4 !important;
  color: #2f3ca0 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #97a0e0 !important;
  border-color: #97a0e0 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #2f3ca0 !important;
  background-color: #97a0e0 !important;
  border-color: #97a0e0 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #bbe6e2 !important;
  border-color: #bbe6e2 !important;
  color: #2c766f !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #7ccfc7 !important;
  border-color: #7ccfc7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #2c766f !important;
  background-color: #7ccfc7 !important;
  border-color: #7ccfc7 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0206b7;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #010361 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0206b7 !important;
  border-color: #0206b7 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #00c4cc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #007175 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #00c4cc !important;
  border-color: #00c4cc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0036fc;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0023a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0036fc !important;
  border-color: #0036fc !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #9900ff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #6500a8 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9900ff !important;
  border-color: #9900ff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #daddf4;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #97a0e0 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #2f3ca0 !important;
  background-color: #daddf4 !important;
  border-color: #daddf4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #bbe6e2;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #7ccfc7 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #2c766f !important;
  background-color: #bbe6e2 !important;
  border-color: #bbe6e2 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0206b7 !important;
}
.text-secondary {
  color: #00c4cc !important;
}
.text-success {
  color: #9900ff !important;
}
.text-info {
  color: #0036fc !important;
}
.text-warning {
  color: #daddf4 !important;
}
.text-danger {
  color: #bbe6e2 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #010352 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #006266 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #5c0099 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #002096 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #8b95dd !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #70cbc2 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0206b7;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0036fc;
}
.alert-warning {
  background-color: #daddf4;
}
.alert-danger {
  background-color: #bbe6e2;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0206b7;
  border-color: #0206b7;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0206b7;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3c40fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ebccff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c9d5ff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0206b7 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #0206b7;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0206b7;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0206b7;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0206b7;
  border-bottom-color: #0206b7;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0206b7 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #00c4cc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230206b7' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tiRdyFWZGt {
  background-image: url("../../../assets/images/4.png");
}
.cid-tiRdyFWZGt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiRdyFWZGt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiRdyFWZGt .mbr-section-title {
  color: #0206b7;
}
.cid-tiRfrsOEIF {
  background-image: url("../../../assets/images/3.png");
}
.cid-tiRfrsOEIF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiRfrsOEIF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiRfrsOEIF .mbr-text,
.cid-tiRfrsOEIF .mbr-section-btn {
  color: #0206b7;
}
.cid-tiRgrJaiDP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tiRgrJaiDP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiRgrJaiDP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiRgrJaiDP .mbr-section-title,
.cid-tiRgrJaiDP .mbr-section-subtitle {
  text-align: center;
}
.cid-tiRgrJaiDP .cost {
  word-break: normal;
}
.cid-tiRgrJaiDP .card-wrapper {
  margin-bottom: 2rem;
  border-radius: 4px;
  background: #00c4cc;
}
.cid-tiRgrJaiDP .card-wrapper .top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .cid-tiRgrJaiDP .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tiRgrJaiDP .card-wrapper {
    padding: 1rem;
  }
}
.cid-tiRgrJaiDP .mbr-section-title {
  color: #0206b7;
}
.cid-tiRgrJaiDP .card-title {
  color: #0206b7;
}
.cid-tiRgrJaiDP P {
  color: #ffffff;
}
.cid-tiCRvemv3V {
  z-index: 1000;
  width: 100%;
}
.cid-tiCRvemv3V nav.navbar {
  position: fixed;
}
.cid-tiCRvemv3V .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tiCRvemv3V .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tiCRvemv3V .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tiCRvemv3V .dropdown-item:hover,
.cid-tiCRvemv3V .dropdown-item:focus {
  background: #0206b7 !important;
  color: white !important;
}
.cid-tiCRvemv3V .dropdown-item:hover span {
  color: white;
}
.cid-tiCRvemv3V .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tiCRvemv3V .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tiCRvemv3V .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tiCRvemv3V .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tiCRvemv3V .nav-link {
  position: relative;
}
.cid-tiCRvemv3V .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tiCRvemv3V .container {
    flex-wrap: nowrap;
  }
}
.cid-tiCRvemv3V .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tiCRvemv3V .dropdown-menu,
.cid-tiCRvemv3V .navbar.opened {
  background: #ffffff !important;
}
.cid-tiCRvemv3V .nav-item:focus,
.cid-tiCRvemv3V .nav-link:focus {
  outline: none;
}
.cid-tiCRvemv3V .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tiCRvemv3V .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tiCRvemv3V .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tiCRvemv3V .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tiCRvemv3V .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tiCRvemv3V .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tiCRvemv3V .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.2);
}
.cid-tiCRvemv3V .navbar.opened {
  transition: all 0.3s;
}
.cid-tiCRvemv3V .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tiCRvemv3V .navbar .navbar-logo img {
  width: auto;
}
.cid-tiCRvemv3V .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tiCRvemv3V .navbar.collapsed {
  justify-content: center;
}
.cid-tiCRvemv3V .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tiCRvemv3V .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tiCRvemv3V .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tiCRvemv3V .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tiCRvemv3V .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tiCRvemv3V .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tiCRvemv3V .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tiCRvemv3V .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tiCRvemv3V .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tiCRvemv3V .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tiCRvemv3V .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tiCRvemv3V .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tiCRvemv3V .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tiCRvemv3V .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tiCRvemv3V .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tiCRvemv3V .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tiCRvemv3V .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tiCRvemv3V .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tiCRvemv3V .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tiCRvemv3V .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tiCRvemv3V .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tiCRvemv3V .navbar.navbar-short {
  min-height: 60px;
}
.cid-tiCRvemv3V .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tiCRvemv3V .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tiCRvemv3V .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tiCRvemv3V .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tiCRvemv3V .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tiCRvemv3V .dropdown-item.active,
.cid-tiCRvemv3V .dropdown-item:active {
  background-color: transparent;
}
.cid-tiCRvemv3V .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tiCRvemv3V .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tiCRvemv3V .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tiCRvemv3V .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tiCRvemv3V .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tiCRvemv3V .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tiCRvemv3V ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tiCRvemv3V .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tiCRvemv3V button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tiCRvemv3V button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tiCRvemv3V button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tiCRvemv3V button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tiCRvemv3V button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tiCRvemv3V button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tiCRvemv3V nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tiCRvemv3V nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tiCRvemv3V nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tiCRvemv3V nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tiCRvemv3V .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tiCRvemv3V a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tiCRvemv3V .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tiCRvemv3V .navbar {
    height: 70px;
  }
  .cid-tiCRvemv3V .navbar.opened {
    height: auto;
  }
  .cid-tiCRvemv3V .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tiRgbPv2WA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tiRgbPv2WA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiRgbPv2WA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiRgbPv2WA .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tiRgbPv2WA .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-tiRgbPv2WA .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tiRgbPv2WA .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #0206b7;
  transition: all 0.3s;
}
.cid-tiRgbPv2WA .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0206b7;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tiRgbPv2WA .social-row .soc-item:hover {
  background-color: #0206b7;
}
.cid-tiRgbPv2WA .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tiRgbPv2WA .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tiRgbPv2WA .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tiRgbPv2WA .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tiRgbPv2WA .card-title {
  color: #0206b7;
}
.cid-tiRgbPv2WA .card-subtitle {
  color: #0206b7;
}
.cid-tiRgbPv2WA .mbr-text,
.cid-tiRgbPv2WA .social-row {
  color: #0206b7;
}
.cid-tiRg3XbuIK {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #bbe6e2;
}
.cid-tiRg3XbuIK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiRg3XbuIK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiRg3XbuIK .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tiRg3XbuIK .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-tiRg3XbuIK .mbr-section-title {
  color: #0206b7;
}
.cid-tiRgjShRcM {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tiRgjShRcM img,
.cid-tiRgjShRcM .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tiRgjShRcM .item:focus,
.cid-tiRgjShRcM span:focus {
  outline: none;
}
.cid-tiRgjShRcM .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tiRgjShRcM .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tiRgjShRcM .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tiRgjShRcM .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tiRgjShRcM .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tiRgjShRcM .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tiRgjShRcM .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tiRgjShRcM .mbr-section-title {
  color: #0206b7;
}
.cid-tiRgjShRcM .mbr-text,
.cid-tiRgjShRcM .mbr-section-btn {
  text-align: left;
}
.cid-tiRgjShRcM .item-title {
  text-align: left;
  color: #0206b7;
}
.cid-tiRgjShRcM .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-tiXbey6hQm {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #0206b7;
}
.cid-tiXbey6hQm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiXbey6hQm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiXbey6hQm .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #0206b7;
  margin-bottom: 2rem;
}
.cid-tiXbey6hQm .card-wrapper {
  padding: 3rem;
  background: #fafafa;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-tiXbey6hQm .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tiXbey6hQm .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-tiXbey6hQm .mbr-section-title {
  color: #00c4cc;
}
.cid-tiXbey6hQm .link {
  color: #0206b7;
}
.cid-tiRggZygv0 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #0206b7;
}
.cid-tiRggZygv0 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tiRggZygv0 .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tiRggZygv0 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tiRggZygv0 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tiRggZygv0 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tiRggZygv0 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tiRggZygv0 .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tiRggZygv0 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tiRggZygv0 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tiRggZygv0 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tiRggZygv0 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tiRggZygv0 .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tiRggZygv0 .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tiRggZygv0 .media-container-row .row-copirayt p {
  width: 100%;
}
